{% extends 'Indice/index.html' %}

{% block header_index %}
{% endblock header_index %}

{% block pruebaTemplate %}

<h2>Bienvenidos a mi blog!</h2>
<p></p>
<h4>Sobre mí:</h4>
<p></p>


<h6>Mi nombre es Matías Font, tengo 19 años y vivo en una pequeña ciudad llamada Bragado que se encuentra a 200 km aproximados del gran Buenos Aires y mi relación con la programacion surgio en medio de la pandemia en donde finalicé mi ultimo año escolar.</h6>
<p></p>

<h6>Todo comienza cuando al terminar la escuela decido estudiar ingeneria en sistemas, atraido por la carrera y todo lo que la rodeaba. Cuando empece a conocer la carrera desde dentro, conocí la programación, y me llamo tanto la atención que senti la necesidad de sumergirme de lleno y empezar el recorrido de este aprendizaje ...</h6>

<p><p/>

<h6>En estos meses que transcurrieron, puedo decir que empece el curso sin saber nada, y hoy me siento una persona que incorporo un gran aprendizaje a su vida, y que va en busca de aprender mucho mas. </h6>

<h6>Muchas gracias.</h6>




{% endblock pruebaTemplate %}